body{
	background:url("images/bg-img5.jpg") no-repeat fixed center top;
}
.logouigar img{
	display: none;
}
.orange ul.mega-menu {
	padding-left: 2px !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background: #8998a8 url(images/bg_green.png) repeat-x 0 -60px !important;
}
.orange ul.mega-menu li a {
	background: url(images/bg_green.png) repeat-x 100% 0 !important;
}

.orange ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
	background: #e3e3e3 !important;
}

.orange ul.mega-menu .sub li.mega-hdr li a {
	padding: 4px 5px 4px 20px;
	background: url(images/bullet.png) no-repeat 5px 9px !important;
	font-weight: normal;
}

.orange ul.mega-menu .sub li.mega-hdr li a:hover {
	color: #a32403;
	background: #efefef url(images/bullet_on.png) no-repeat 5px 9px !important;
}