#column_2,
#column_2 h2 {
    font-size: 1em;
}
#column_2 #menu_wrapper{
    background-color: #ffffff;
    margin-bottom: 9px;
}
#column_2 ul {
    list-style: none;
}
#column_2 ul li {
    background-color: #ededed;
}
#column_2 .pcml1selected ul {
 	border: none;
}
.pcmlevel1 {
    padding: 0px;
    margin: 0px;
}
#column_2 .pcmlevel1 ul {
    padding: 0px;
    margin: 0px;
   	border: none;
}
.pcmlevel1 a,
.pcmlevel1 a:link,
.pcmlevel1 a:visited,
.pcmlevel1 a:hover,
.pcmlevel1 a:active,
.pcmlevel1 a:focus {
    display: block;
    color: #070707;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
}
.pcmlevel1 a:hover,
.pcmlevel1 a:active,
.pcmlevel1 a:focus {
    color: #ffffff;
}
.pcml1selected .sectionAUS a:hover,
.pcml1selected .sectionAUS a:active,
.pcml1selected .sectionAUS a:focus {
    background-color: #0651b7;
}
.pcmlevel1 .sectionBIL a:hover,
.pcmlevel1 .sectionBIL a:active,
.pcmlevel1 .sectionBIL a:focus {
    background-color: #0651b7;
}
.pcmlevel1 .sectionFOR a:hover,
.pcmlevel1 .sectionFOR a:active,
.pcmlevel1 .sectionFOR a:focus {
    background-color: #0651b7;
}
.pcmlevel1 .sectionINO a:hover,
.pcmlevel1 .sectionINO a:active,
.pcmlevel1 .sectionINO a:focus {
    background-color: #0651b7;
}
.pcmlevel1 .sectionMIN a:hover,
.pcmlevel1 .sectionMIN a:active,
.pcmlevel1 .sectionMIN a:focus {
    background-color: #0651b7;
}
.pcmlevel1 .sectionWIS a:hover,
.pcmlevel1 .sectionWIS a:active,
.pcmlevel1 .sectionWIS a:focus {
    background-color: #0651b7;
}
.pcmlevel1 a {    
    padding-left: 11px;
    padding-right: 5px;
}
.pcmlevel2 a,
.pcmlevel2 a:link,
.pcmlevel2 a:visited,
.pcmlevel2 a:hover,
.pcmlevel2 a:active,
.pcmlevel2 a:focus {
    color: #3E3E3E;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.pcmlevel2 a:hover,
.pcmlevel2 a:active,
.pcmlevel2 a:focus,
.pcmlevel2 a.active
 {
    color: #ffffff;
    font-weight: normal;
	background-color: #0651b7;    
}
.pcmlevel2 a {
	background-color: #f6d5d7;
    padding-left: 15px;
    text-transform: none;
}
#column_2 ul.pcmlevel3 {
    margin:0px;
}
.pcmlevel3 a {    
    padding-left: 25px;
    background-color: #f2f2f2;
}
ul.pcmlevel3 li {
  border-bottom: 1px solid #ffffff;
}
.pcmlevel4 a {    
    padding-left: 38px;
}
.pcmlevel5 a {    
    padding-left: 46px;
}
.pcmlevel6 a {    
    padding-left: 55px;
}
.pcml1selected {
    border-top: 1px solid #ffffff;
}
.pcml1selected li {
    border-bottom: 1px solid #ffffff;
}
#column_2 ul.pcmlevel2 {
    border: 0px solid #B70618;
}
#column_2 .sectionAUS ul,
#column_2 .sectionBIL ul {
    background-color: #ededed;
}
#column_2 .sectionMIN ul {
    background-color: #ededed;
}
#column_2 .sectionINO ul {
    background-color: #ededed;
}
#column_2 .sectionFOR ul{
    background-color: #ededed;
}
#column_2 .sectionWIS ul {
    background-color: #ededed;
}
.level1selected a,
.level1selected a:link,
.level1selected a:visited {
    color: #ffffff;
    font-weight : bold;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: 5px 0.4em;
    border-bottom: 1px solid #ffffff;
}
.sectionAUS .level1selected {
    background-color: #166b37;
}
.sectionBIL .level1selected {
    background-color: #166b37;
}
.sectionFOR .level1selected {
    background-color: #B70618;
}
.sectionINO .level1selected {
    background-color: #B70618;
}
.sectionMIN .level1selected {
    background-color: #B70618;
}
.sectionWIS .level1selected {
    background-color: #4eb9cf;
}

/* aktiver Menuepunkt*/
.pcml1active div,
.pcml2active div,
.pcml3active div,
.pcml4active div,
.pcml5active div,
.pcml6active div {
    font-weight : bold;
}
.pcmlevel2 a {
    background-position: 8px 0.55em;
    background-repeat: no-repeat;
}
.pcmlevel3 a {
    background-position: 17px 0.55em;
}
.pcmlevel4 a {
    background-position: 26px 0.55em;
}
.pcmlevel5 a {
    background-position: 35px 0.55em;
}
.pcmlevel6 a {
    background-position: 44px 0.55em;
}

.pcmlevel2 a:hover,
.pcmlevel2 a:active,
.pcmlevel2 a:focus {
    background-repeat: no-repeat;
    background-position: 8px 0.55em;
}
.pcmlevel3 a:hover,
.pcmlevel3 a:active,
.pcmlevel3 a:focus {
    background-position: 17px 0.55em;
    background-image: url(/_img/common/menu_3rdFORi_hov.gif);
}
.pcmlevel4 a:hover,
.pcmlevel4 a:active,
.pcmlevel4 a:focus {
    background-position: 26px 0.55em;
}
.pcmlevel5 a:hover,
.pcmlevel5 a:active,
.pcmlevel5 a:focus {
    background-position: 35px 0.55em;
}
.pcmlevel6 .activeWIS a:hover,
.pcmlevel6 a:hover,
.pcmlevel6 a:active,
.pcmlevel6 a:focus {
    background-position: 44px 0.55em;
}